@font-face {
  font-family: "HurmeGeometricSans3-Bold";
  src: url("../fonts/HurmeGeometricSans3-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/HurmeGeometricSans3-Bold.woff") format("woff"),
    url("../fonts/HurmeGeometricSans3-Bold.ttf") format("truetype"),
    url("../fonts/HurmeGeometricSans3-Bold.svg#HurmeGeometricSans3-Bold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HurmeGeometricSans3-Regular";
  src: url("../fonts/HurmeGeometricSans3-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/HurmeGeometricSans3-Regular.woff") format("woff"),
    url("../fonts/HurmeGeometricSans3-Regular.ttf") format("truetype"),
    url("../fonts/HurmeGeometricSans3-Regular.svg#HurmeGeometricSans3-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HurmeGeometricSans3-SemiBold";
  src: url("../fonts/HurmeGeometricSans3-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/HurmeGeometricSans3-SemiBold.woff") format("woff"),
    url("../fonts/HurmeGeometricSans3-SemiBold.ttf") format("truetype"),
    url("../fonts/HurmeGeometricSans3-SemiBold.svg#HurmeGeometricSans3-SemiBold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "HurmeGeometricSans3-Regular";
}

.dark .container .page-header__container-1 {
  background-color: #181e22;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #202629;
  margin: 0;
}

.dark .container .page-header-nav__item {
  background-color: #181e22;
  border: none;
  border-color: rgba(247, 249, 250, 0.1);
  color: #7d8895;
  position: relative;
  letter-spacing: 0.75px;
}

.dark .container .page-header-nav__item:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  width: 90%;
  height: 2px;
  background: #e8a690;
  opacity: 0;
  border-radius: 70px;
}

.dark
  .container
  .page-header-nav__menu-toggle--active
  ~ .page-header-nav__item--selected,
.dark .container .page-header-nav__item--hoverable:hover {
  background: transparent;
}

.dark .container .page-header-nav__item--selected:before {
  opacity: 1;
}

.dark .container .page-header-nav__item--hoverable:hover:before {
  opacity: 1;
}

.dark .container .single-fluid-header-fixed-content-layout__accent-bar {
  background-image: none !important;
}

.dark .container .dual-fluid-header-fixed-content-layout__accent-bar {
  background: transparent;
}

.dark .container .page-header-nav__item--selected,
.dark .container .page-header-nav__item--selected:hover {
  background: transparent;
  color: #fff;
}

body.dark:before {
  background: url(../images/pattern.png) #151a1d;
}

.dark .container .retail-buy-sell-layout__make-transaction-container {
  background-image: -o-linear-gradient(
    220deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
  background-image: linear-gradient(
    230deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
}

.dark .container .retail-buy-sell-layout__col--with-padding {
  background-image: -o-linear-gradient(
    220deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
  background-image: linear-gradient(
    230deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
}

.dark .container .chart-overview__instrument-container {
  background: transparent;
  border-bottom: 1px solid #202629;
}

.dark .container .retail-price-chart {
  background: transparent !important;
}

.dark .container .chart-overview__instrument-table {
  background: transparent;
}

.dark .container .retail-buy-sell__btn {
  height: 50px;
  border-radius: 25px;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#dd9b8f),
    to(#5000a6)
  );
  background-image: -o-linear-gradient(right, #dd9b8f, #5000a6);
  background-image: linear-gradient(to left, #dd9b8f, #5000a6);
  color: #fff;
  border: none;
  font-family: "HurmeGeometricSans3-Bold";
}

.dark
  .container
  .ap-radio
  input[type="radio"]:checked
  ~ label
  > .ap-radio__check {
  background-color: #32394b;
  border: 3px solid #e8a690;
}

.dark .container .ap-radio__checked {
  background-color: #e8a690;
}

.dark .container .page-header__header-item.page-header__header-item--logo {
  background: url(../images/logo-light.png) no-repeat center center;
  border: none;
}

.dark .ap-logo {
  opacity: 0;
}

.dark .container .retail-buy-sell__container {
  background: #20252b;
}

.dark .container .retail-buy-sell__container .ap-select__select {
  border: solid 1px #1f232e !important;
  background-color: #2a3038 !important;
  border-radius: 4px;
}

.dark .container .retail-buy-sell__amount-container {
  border: solid 1px #1f232e;
  background-color: #2a3038;
  border-radius: 4px;
}

.dark .container .chart-overview-instrument__value {
  font-weight: normal;
  font-size: 19px;
}

.dark .container .chart-overview-instrument__title {
  color: #485563;
  font-size: 12px;
  font-family: "HurmeGeometricSans3-SemiBold";
}

.dark .container .chart-overview-instrument__row {
  border-bottom: 1px solid #202629;
  border-right: 1px solid #202629;
  padding-left: 30px;
}

.dark .container .chart-overview-instrument__row:last-child {
  border-right: 1px solid #202629;
}

.dark .container .retail-order-overview__lwt-container {
  border-color: #202629;
}

.dark .container .retail-balances__lwt-container {
  border-color: #202629;
  padding-top: 17px;
  padding-bottom: 11px;
}

.dark .container .retail-buy-sell-layout__right-panel-divider {
  background: transparent;
}

.dark .container .ap-label-with-text__label {
  color: #8b9bb3;
}

.dark .container .retail-make-transaction {
  padding: 33px 0;
}

.dark .container .retail-make-transaction__title {
  padding: 0 0 2.8rem 3.3rem;
  letter-spacing: 1px;
  margin: 0;
  font-family: "HurmeGeometricSans3-SemiBold";
}

.dark .container .retail-make-transaction__content {
  padding: 0 31px;
  border-top: 1px solid #202629;
  border-radius: 0;
  padding-top: 37px;
}

.dark .container .retail-order-overview__title {
  padding-bottom: 29px;
  margin: 0;
}

.dark .container .ap-radio__label:hover .ap-radio__check {
  background: #32394b;
  border: 3px solid #e8a690;
}

.dark .container .page-footer {
  background-color: #181e22;
  border-top: 2px solid #202629;
}

.dark .container .page-footer__text a {
  color: #92499c;
}

.dark .container .verification-required {
  background: transparent;
}

.dark .container .verification-required__not-verified {
  color: #92499c;
}

.dark .container .verification-required__warning--alert svg path {
  fill: #92499c;
}

.dark .container .sub-nav-row {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dark .container .sub-nav-row__item--selected,
.dark .container .sub-nav-row__item--selected:focus,
.dark .container .sub-nav-row__item.sub-nav-row__item--selected:hover {
  border-radius: 24px;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#e8a690),
    to(#5000a6)
  );
  background: -o-linear-gradient(right, #e8a690, #5000a6) !important;
  background: linear-gradient(to left, #e8a690, #5000a6) !important;
  color: #fff !important;
  border: none;
}

.dark .container .sub-nav-row__item,
.dark .container .sub-nav-row__item:focus {
  width: 172px;
  height: 48px;
  text-align: center;
  letter-spacing: 0.64px;
  font-family: "HurmeGeometricSans3-SemiBold";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.64px;
  color: #475462;
  border: none;
  border-radius: 50px;
}

.dark .container .market-overview__header {
  background: transparent;
  border-bottom: 1px solid #202629;
}

.dark .container .market-overview__header:after {
  display: none;
}

.dark .container .market-overview__instrument-selector {
  background: transparent;
}

.dark .container .market-overview-instrument {
  background: transparent;
}

.dark .container .market-overview-instrument__row {
  background: transparent;
  border-color: #202629;
}

.dark
  .container
  .dual-header-dashboard-layout__top-row__component-container-left {
  background-image: -o-linear-gradient(
    220deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
  background-image: linear-gradient(
    230deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
}

.dark
  .container
  .market-overview__instrument-selector
  .instrument-selector__trigger {
  background: #202529;
  border: 1px solid #1f232e;
  font-family: "HurmeGeometricSans3-Bold";
}

.dark .container .market-overview-instrument__title {
  font-style: normal !important;
  color: #8b9bb3;
  font-family: "HurmeGeometricSans3-Regular";
}

.dark .container .instrument-table__value {
  font-family: "HurmeGeometricSans3-Regular";
  font-weight: normal;
}

.dark
  .container
  .dual-header-dashboard-layout__top-row__component-container-right {
  background-image: -o-linear-gradient(
    234deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
  background-image: linear-gradient(
    216deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
}

.dark .container .product-balances__header {
  background: transparent;
  border-bottom: 1px solid #202629;
}

.dark .container .product-balances__container {
  background: transparent;
}

.dark .container .product-balances__header:after {
  display: none;
}

.dark .container .balance-item__container {
  background: transparent;
}

.dark .container .balance-item__product {
  font-size: 14px;
}

.dark .container .activity {
  background-image: -o-linear-gradient(
    220deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
  background-image: linear-gradient(
    230deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dark .container .activity__header-bar {
  background: transparent;
  border-bottom: 1px solid #202629;
}

.dark .container .activity__body {
  background: transparent !important;
}

.dark .container .activity__table-header--background {
  background: transparent;
}

.dark .container .flex-table__row {
  background: transparent;
  border-bottom-color: #202629;
}

.dark .container .activity__action-text--primary,
.dark .container .activity__amount-quantity,
.dark .container .activity__date-date,
.activity__order-type,
.dark .container .activity__price,
.dark .container .activity__quantity,
.dark .container .activity__status-id {
  letter-spacing: 1.6px;
}

.dark .container .activity__action-text--secondary,
.dark .container .activity__amount-value,
.dark .container .activity__date-time,
.dark .container .activity__status-text {
  color: #8b9bb3;
  letter-spacing: 1.3px;
}

.dark .container .activity__action .ap-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #707070;
  border-radius: 50%;
}

.dark .container .flex-table__column {
  color: #8b9bb3;
}

.dark .container .instrument-selector__symbol {
  font-family: "HurmeGeometricSans3-Bold";
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.23px;
}

.dark .container .instrument-table .instrument-table__value {
  font-family: "HurmeGeometricSans3-Bold";
  line-height: 1.19;
  letter-spacing: 0.23px;
}

.dark .container .tv-chart__header,
.dark .container .flex-table__title,
.dark .container .ap-tab__menu-item--active,
.dark .container .ap-tab__menu-item--active:hover {
  font-family: "HurmeGeometricSans3-Bold";
  font-size: 12px;
  letter-spacing: 0.36px;
  background-image: -o-linear-gradient(
    183deg,
    #1e1d2b,
    #202529 43%,
    #202529 54%,
    #202529
  );
  background-image: linear-gradient(
    267deg,
    #1e1d2b,
    #202529 43%,
    #202529 54%,
    #202529
  );
}

.dark .container .flex-table__column {
  font-family: "HurmeGeometricSans3-Regular";
  border: none;
}

.dark .container .orderbook__table-price,
.dark .container .orderbook__table-qty {
  font-family: "HurmeGeometricSans3-SemiBold";
}

.dark .container .trade-component {
  background: #12171a;
}

.dark .container .chart-page .chart-container {
  background: #12171a !important;
}

.dark .container .ap-tab__menu-item {
  background: transparent;
  border-right-color: #000;
}

.dark .container .orderbook__spread-row {
  background-image: -o-linear-gradient(
    186deg,
    #1e1d2b,
    #202529 43%,
    #202529 54%,
    #202529
  );
  background-image: linear-gradient(
    264deg,
    #1e1d2b,
    #202529 43%,
    #202529 54%,
    #202529
  );
}

.dark .container .orderbook__vertical-scroller-body .flex-table__row {
  background: #12171a;
  border-bottom-color: #000000;
}

.dark .container .flex-table__body.recent-trades__body .flex-table__row {
  background: #12171a;
  border-bottom-color: #000000;
}

.dark
  .container
  .flex-table__body.recent-trades__body
  .flex-table__row
  .flex-table__column {
  font-family: "HurmeGeometricSans3-SemiBold";
}

.dark .container .flex-table__header--background {
  background: #12171a;
  border-bottom-color: #000000;
}

.dark
  .container
  .btn-group.btn-group-toggle.ap-segmented-button.order-entry__rt-wrapper {
  border: solid 1px #1f232e;
  border-radius: 16px;
}

.dark .container .ap-segmented-button__label--checked-additive,
.dark .container .ap-segmented-button__label--checked-additive:hover,
.dark .container .ap-segmented-button__label:hover,
.dark .container .ap-segmented-button__label--checked-subtractive,
.dark .container .ap-segmented-button__label--checked-subtractive:hover {
  background-image: -o-linear-gradient(188deg, #e8a690, #5000a6);
  background-image: linear-gradient(262deg, #e8a690, #5000a6);
  border-radius: 15px !important;
  color: #fff !important;
}

.dark .container .ap-segmented-button__label {
  font-family: "HurmeGeometricSans3-Bold";
  color: #95a2bf;
}

.dark .container .ap-input__with-label {
  background: transparent;
  border-color: #1f232e;
  height: 32px;
  padding-left: 63px;
}

.dark .container .order-entry__body .trade-component__section {
  border-color: #000000;
}

.dark .container .order-entry__select {
  background: transparent;
  border-color: #1f232e;
}

.dark .container .label-in-input {
  background: #1a1f22;
  font-size: 13px;
  height: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 1px 1px 0;
  width: 53px;
}

.dark .container .ap-button__btn {
  border-radius: 25px;
  -webkit-box-shadow: 0 13px 19px 0 rgba(80, 0, 166, 0.33);
  box-shadow: 0 13px 19px 0 rgba(80, 0, 166, 0.33);
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#dd9b8f),
    to(#5000a6)
  );
  background-image: -o-linear-gradient(right, #dd9b8f, #5000a6);
  background-image: linear-gradient(to left, #dd9b8f, #5000a6);
  color: #fff;
  border: none;
  font-family: "HurmeGeometricSans3-Bold";
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  z-index: 2;
}

.dark .container .order-entry__item-button {
  color: #7582ff;
}

.dark .container .order-entry__buy-sell-wrapper {
  border-bottom: 1px solid #000;
}

.dark .container .bulk-cancel-buttons__image {
  width: 11px;
  height: 11px;
  margin-right: 5px;
}

.dark .container .ap-inline-btn__text {
  font-family: "HurmeGeometricSans3-SemiBold";
  font-size: 13px;
  letter-spacing: 0.62px;
  text-align: center;
  color: #ff4766;
}

.dark .container .bulk-cancel-buttons {
  background: #202529;
}

.dark .container .flex-table__body.order-history-table__body {
  background: #12171a;
}

.dark .container .instrument-positions-summary__row {
  border-color: #000;
}

.dark .container .order-book__container,
.dark .container .recent-trade__container,
.dark .container .order-entry__container {
  border-left-color: #000;
}

.dark .container .orderbook__spread-row .ap-inline-btn__text {
  color: #fff;
  font-family: "HurmeGeometricSans3-Regular";
  font-size: 12px;
}

.dark .container .flex-table__body {
  background: #12171a;
}

.dark .container .ap-tab__menu-item--active:before,
.dark .container .ap-tab__menu-item--active:hover:before,
.dark .container .ap-tab__menu-item:hover:before {
  border-bottom: 2px solid #e8a690;
}

.dark .container .order-history__tab {
  background-image: -o-linear-gradient(
    183deg,
    #1e1d2b,
    #202529 43%,
    #202529 54%,
    #202529
  );
  background-image: linear-gradient(
    267deg,
    #1e1d2b,
    #202529 43%,
    #202529 54%,
    #202529
  );
}

.dark .container .order-history__menu {
  background: transparent;
}

.dark .container .order-history__menu-item {
  background: none !important;
}

.dark .container .ap-label-with-text .ap-label-with-text__label {
  font-size: 14px;
}

.dark .container .order-entry__lwt-text {
  letter-spacing: 0.67px;
}

.dark .container .instrument-positions-summary__row-label {
  color: #95a2bf;
  font-size: 12px;
}

.dark .container .instrument-positions-summary__product-available,
.dark .container .instrument-positions-summary__product-hold,
.dark .container .instrument-positions-summary__product-pending-deposits,
.dark .container .instrument-positions-summary__product-symbol,
.dark .container .instrument-positions-summary__product-total-balance {
  font-size: 12px !important;
  font-family: "HurmeGeometricSans3-SemiBold";
}

.dark .container .order-history-table__column {
  font-size: 13px;
  color: #fff !important;
}

.dark .container .order-history-table__buy {
  font-size: 13px;
}

.dark .container .wallet-details-back-button__item {
  font-family: "HurmeGeometricSans3-Bold";
  font-size: 13px;
  letter-spacing: 0.47px;
  color: #7582ff;
  background-image: -o-linear-gradient(
    195deg,
    #1e1d2b,
    #202529 43%,
    #202529 54%,
    #202529
  ) !important;
  background-image: linear-gradient(
    255deg,
    #1e1d2b,
    #202529 43%,
    #202529 54%,
    #202529
  ) !important;
}

.dark .container .menu-component__item--selected,
.dark .container .menu-component__item--selected:hover,
.dark .container .menu-component__item:active {
  background: #2b3236 !important;
  border-left-color: #92499c;
  border-bottom-color: #1f232e;
}

.dark .container .menu-component__item {
  background: #12171a;
}

.dark .container .menu-component__item:active,
.dark .container .menu-component__item:hover {
  background: #2b3236 !important;
}

.dark .container .balances-menu,
.dark .container .trade-component.menu-component.balances-menu {
  background: #12171a !important;
}

.dark .container .balances-menu__item-balance-value {
  font-size: 14px;
  letter-spacing: 0.42px;
}

.dark .container .balances-menu__item-value-symbol {
  font-size: 12px;
  color: #8b9bb3;
}

.dark .container .wallet-details {
  background-image: -o-linear-gradient(
    188deg,
    #1e1d2b,
    #1a1f22 44%,
    #1a1f22 54%,
    #1a1f22
  );
  background-image: linear-gradient(
    262deg,
    #1e1d2b,
    #1a1f22 44%,
    #1a1f22 54%,
    #1a1f22
  );
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dark .container .transfers__wrapper {
  background-image: -o-linear-gradient(
    205deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
  background-image: linear-gradient(
    245deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dark .container .transfers__header-bar {
  background: transparent;
  border-bottom: 1px solid #1f232e;
}

.dark .container .transfers {
  background: transparent;
}

.dark .container .transfers__table-header--background {
  background: transparent;
  border-bottom: 1px solid #1f232e;
}

.dark .container .transfers .flex-table__body {
  background: transparent;
}

::-webkit-scrollbar,
div::-webkit-scrollbar {
  background: #000 !important;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    255deg,
    #1e1d2b,
    #202529 43%,
    #202529 54%,
    #202529
  ) !important;
}

.dark
  .container
  .flex-table__wide-row-container
  .flex-table__header--background {
  background: transparent;
  border-bottom: 1px solid #202629;
}

.dark .container .transfers__sb-container {
  background: #22232f;
  border-radius: 50px;
  border: solid 1px #1a1a26;
}

.dark .container .ap-segmented-button__label--checked-additive,
.ap-segmented-button__label--checked-additive:hover {
  background: #92499c !important;
  color: #fff;
}
.dark .container .ap-segmented-button__label {
  color: #8b9bb3;
  border-radius: 50px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  font-family: "HurmeGeometricSans3-Bold";
}

.dark .container .ap-segmented-button__label:hover {
  background: #92499c !important;
}

.dark .container .wallet-nav-item {
  border: solid 1px #1a1a26;
  background-color: #22232f;
}

.dark .container .flex-table__row--empty {
  border: none;
}

.dark .container .activity__from__dpk-input,
.dark .container .activity__to__dpk-input,
.dark .container .activity__type__select {
  background: #22232f;
  border-radius: 50px;
  border: solid 1px #1a1a26;
}
/* 
.dark .ap-select__select {
  background: #22232F !important;
  border-radius: 50px;
  border: solid 1px #1a1a26 !important;
} */

/*wallet outside*/

.dark .container .wallet-card {
  background-image: -o-linear-gradient(
    213deg,
    #1e1d2b,
    #1a1f22 44%,
    #1a1f22 54%,
    #1a1f22
  );
  background-image: linear-gradient(
    237deg,
    #1e1d2b,
    #1a1f22 44%,
    #1a1f22 54%,
    #1a1f22
  );
}

.dark .container .wallet-card__activity-link-row {
  background: transparent;
}

.dark .container .wallet-card__amount-text {
  letter-spacing: 2px;
}

.dark .container .wallet-card__activity-link {
  color: #7582ff;
  font-size: 15px;
  font-family: "HurmeGeometricSans3-SemiBold";
}

.dark .container .wallet-card-grid__header,
.dark .container .component-row-single__header {
  font-family: "HurmeGeometricSans3-SemiBold";
}

.dark .container .dark .container-with-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dark .container .wallet-row-list {
  background-image: -o-linear-gradient(
    194deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
  background-image: linear-gradient(
    256deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
}

.dark .container .wallet-row {
  background: transparent;
  border-color: #202629;
}

.dark .container a.wallet-row__activity-link {
  color: #7582ff;
}
/*wallet outside*/

/*wallet outside slidepanel send receive*/
.dark .slide-pane__content .send-receive__main {
  background: #1a1f22;
  border-color: #202629;
}

.dark .slide-pane__content .send-receive__side {
  background: #1a1f22;
}

.dark .slide-pane__content .send-receive__main-form {
  background: #1f2529;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dark .slide-pane__content .send-address__input {
  background: #2a3038;
  border-color: #1f232e;
}

.dark .slide-pane__content .send-form__input {
  background: #2a3038;
  border-color: #1f232e;
}

.dark .slide-pane__content .send-form__source,
.dark .slide-pane__content .receive__source {
  background: #2a3038;
  border-radius: 50px;
}

.dark .slide-pane__content .send-form__source-item-with-border,
.dark .slide-pane__content .receive__source-item-with-border {
  border: none;
}

.dark .slide-pane__content .send-form__source-item--selected,
.dark .slide-pane__content .send-form__source-item:hover,
.dark .slide-pane__content .receive__source-item--active,
.dark .slide-pane__content .receive__source-item:hover {
  background: #92499c !important;
  border-radius: 50px;
}

.dark .slide-pane__content .send-form__source-item {
  background: transparent;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.dark .slide-pane__content .send-form__label-in-input {
  background: transparent;
}

.dark .slide-pane__content .sidepane-details__header--top {
  border-color: #202629;
}

.dark .slide-pane__content .sidepane-details__lwt-container {
  border-color: #202629;
  font-family: "HurmeGeometricSans3-Regular";
}

.dark .slide-pane__content .receive__source-item {
  border-radius: 50px;
}

.dark .slide-pane__content .ap-datepicker__input:focus,
.dark .slide-pane__content .ap-input__input:focus,
.dark .slide-pane__content .ap-select__select:focus,
.dark
  .slide-pane__content
  .react-phone-number-input__input.ap-phone-input__input:focus {
  background: #2a3038;
}

.dark .slide-pane__content .send-form__btn,
.dark .slide-pane__content .receive-form__btn {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#dd9b8f),
    to(#5000a6)
  );
  background-image: -o-linear-gradient(right, #dd9b8f, #5000a6);
  background-image: linear-gradient(to left, #dd9b8f, #5000a6);
  border-radius: 25px;
  border: none;
}
/*wallet outside slidepanel send receive*/

/*wallet outside deposit send withdraw*/
.dark .slide-pane__content .retail-fiat-sidepane__main {
  background: #1a1f22;
  border-color: #202629;
}

.dark .slide-pane__content .retail-fiat-sidepane__side {
  background: #1a1f22;
}

.dark .slide-pane__content .retail-fiat-sidepane__main-form {
  background: #1f2529;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dark .slide-pane__content .manual-deposit__input {
  background: #2a3038;
  border-color: #1f232e;
}

.dark .slide-pane__content .manual-deposit__select {
  background: #2a3038;
  border-color: #1f232e;
}

.dark .slide-pane__content .retail-withdraw-form__btn,
.dark .slide-pane__content .ap-button__btn {
  border-radius: 24px;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#e8a690),
    to(#5000a6)
  );
  background-image: -o-linear-gradient(right, #e8a690, #5000a6);
  background-image: linear-gradient(to left, #e8a690, #5000a6);
  border: none;
  font-family: "HurmeGeometricSans3-SemiBold";
  font-size: 16px;
  position: relative;
  z-index: 2;
}
/*wallet outside slidepanel send receive*/

/*profile&security*/

.dark .container .fix-left-fluid-layout__side-bar {
  background: #12171a;
  border-color: #000;
}

.dark .container .nav-menu-vertical__item.active,
.dark .container .nav-menu-vertical__item.active:hover,
.dark .container .nav-menu-vertical__item:hover {
  border-left-color: #92499c;
  background: #2b3236;
}

.dark .container .nav-menu-vertical__item {
  font-size: 14px;
  color: #8b9bb3;
}

.dark .container .nav-menu-vertical__list li {
  border-color: #202629;
}

.dark .container .retail-profile-and-settings-layout__main {
  background: transparent;
}

.dark .container .retail-profile-and-settings-widget__layout-template {
  background-image: -o-linear-gradient(
    216deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
  background-image: linear-gradient(
    234deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
  border-bottom-color: #202629;
}

.dark .container .retail-profile-and-settings-widget__header {
  background: transparent;
  border-bottom: 1px solid #202629;
}

.dark
  .container
  .retail-profile-and-settings-widget__header
  > .retail-profile-and-settings-widget__header {
  background: transparent;
}

.dark .container .retail-profile-and-settings-layout__page-header h1,
.dark .container .kyc-settings__header-text {
  font-size: 24px;
}

.dark .container .retail-profile-and-settings-layout__page-header h2 {
  font-size: 16px;
  color: #fff;
}

.dark .container .retail-profile-and-settings-widget__header-text,
.dark .container .retail-profile-and-settings-widget__header {
  font-size: 20px;
  font-family: "HurmeGeometricSans3-SemiBold";
}

.dark .container .ap-switch__switch {
  border: solid 2px #1f232e;
}

.dark .container .retail-enable-two-factor-auth .ap-switch__toggle {
  background: #32394b;
}

.dark .container .retail-enable-two-factor-auth .ap-switch__text {
  color: #8b9bb3;
  font-family: "HurmeGeometricSans3-SemiBold";
}

.dark .container .retail-enable-two-factor-auth__info {
  color: #8b9bb3;
}

.dark .container .theme-settings__btn,
.dark .container .region-settings__btn {
  background: #22232f;
  border: 1px solid #1a1a26;
  border-radius: 4px;
  font-size: 14px;
  font-family: "HurmeGeometricSans3-Bold";
  color: #92499c;
  height: 40px;
}

.dark .container .ap-label-with-text {
  border-bottom: 1px solid #202629;
}

/*profile&security*/
/*verification level;*/

.dark .container .kyc-settings__description {
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.76px;
  line-height: 1.25;
}

.dark .container .kyc-settings {
  background: transparent;
}

.dark .container .kyc-level,
.dark .container .kyc-level--selected {
  background: transparent;
  border: none;
  background-image: -o-linear-gradient(
    225deg,
    #1e1d2b,
    #1a1f22 44%,
    #1a1f22 54%,
    #1a1f22
  );
  background-image: linear-gradient(
    225deg,
    #1e1d2b,
    #1a1f22 44%,
    #1a1f22 54%,
    #1a1f22
  );
}

.dark .container .kyc-level__header-title {
  background: #1e2127;
}

.dark .container .kyc-level__body {
  background: transparent;
  border: none;
}

.dark .container .kyc-level__sub-title {
  font-size: 14px;
  font-family: "HurmeGeometricSans3-Bold";
  margin-bottom: 8px;
}

.dark .container .kyc-level__item-description,
.dark .container .kyc-level__list-item {
  font-size: 14px;
  line-height: 1.5;
}

/*verification level;*/

/*API keys*/

.dark .container .retail-api-keys {
  background: transparent;
}

.dark .container .retail-api-key-list {
  background-image: -o-linear-gradient(
    196deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
  background-image: linear-gradient(
    254deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
}

.dark .container .retail-api-key-list__header {
  background: transparent;
  border-bottom: 1px solid #202629;
}

.dark .container .retail-api-keys-form__header-text {
  font-size: 24px;
}

.dark .container .retail-api-keys-form__text {
  line-height: 1.25;
  letter-spacing: 0.76px;
  font-size: 16px;
  color: #fff;
}

.dark .container .flex-table__header-cell--absolute {
  font-size: 12px;
}

.dark .container .retail-api-keys-form__btn,
.dark .container .retail-api-keys-form__btn:active {
  border-radius: 4px;
  background: #ffffff !important;
  border-radius: 4px !important;
  color: #7582ff !important;
  font-size: 14px;
}

.dark .container .retail-api-keys-form__documentation {
  border-radius: 4px;
  border: solid 1px rgba(255, 255, 255, 0.05);
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dark .container .retail-api-keys-form__documentation a {
  color: #fff;
  letter-spacing: 0.12px;
  font-size: 12px;
  text-align: center;
  font-family: "HurmeGeometricSans3-Bold";
}

/*API keys*/

.dark
  .container
  .instrument-selector-popover__popover
  .instrument-selector-popup__body,
.dark
  .container
  .instrument-selector-popover__popover
  .instrument-selector-popup__body
  .instrument-selector-popup__row,
.dark .container .instrument-selector-popup__table-header {
  background: #1f232e;
}

.dark
  .container
  .trade-component.order-entry
  label.ap-segmented-button__label.ap-segmented-button__label--checked-additive,
.dark
  .container
  .trade-component.order-entry
  label.ap-segmented-button__label.ap-segmented-button__label--checked-additive:hover {
  background-image: -o-linear-gradient(188deg, #e8a690, #5000a6) !important;
  background-image: linear-gradient(262deg, #e8a690, #5000a6) !important;
}

/*trade reports*/
.dark
  .container
  .retail-trade-report__content
  .activity-reporting__header-text {
  font-size: 24px;
}
.dark .container .retail-trade-report__content .activity-reporting__text {
  line-height: 1.25;
  letter-spacing: 0.76px;
  color: #fff;
  font-size: 16px;
}

.dark .container .download-report__container,
.dark .container .schedule-report-list__container {
  background-image: -o-linear-gradient(
    213deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
  background-image: linear-gradient(
    237deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
}

.dark .container .download-report__header,
.dark .container .schedule-report-list__header {
  background: transparent;
}

.dark .container .schedule-report-list__body.flex-table {
  background: transparent;
}

.dark .container .schedule-report-list__container .flex-table__body {
  background: transparent;
}

.dark .container .retail-trade-report .flex-table__row--empty,
.dark .container .retail-trade-report .flex-table__row--empty:hover {
  background: transparent;
}

.dark .container .retail-trade-report {
  background: transparent;
}

.dark
  .container
  .download-report__container
  .flex-table__wide-row-container
  .flex-table__header--background {
  background: transparent;
}

.dark .container .download-report__container .flex-table__body {
  background: transparent;
}

.dark .container .retail-trade-report__content .download-report {
  background: transparent;
}
/*create report*/
.dark .reports-sidepane__tab {
  background: #1f2529;
}

.dark .reports-sidepane__menu {
  background: transparent;
}

.dark .report-form__body {
  background: transparent;
}

.dark .report-form__select,
.dark .report-form__dpk-input,
.dark .report-form__input {
  border-radius: 4px;
  border: 1px solid #1f232e !important;
  background: #2a3038 !important;
}

/*trade reports*/

/*affiliate program*/

.dark .container .affiliate {
  background: transparent;
}

.dark .container .affiliate__header {
  font-size: 24px;
}

.dark .container .affiliate__description {
  line-height: 1.25;
  letter-spacing: 0.76px;
  color: #fff;
  font-size: 16px;
}

.dark .container .affiliate__container {
  background: transparent;
  border: none;
  background-image: -o-linear-gradient(
    225deg,
    #1e1d2b,
    #1a1f22 44%,
    #1a1f22 54%,
    #1a1f22
  );
  background-image: linear-gradient(
    225deg,
    #1e1d2b,
    #1a1f22 44%,
    #1a1f22 54%,
    #1a1f22
  );
}

.dark .container .affiliate__container header {
  background: transparent;
}

/*affiliate program*/

/*loyalty token*/

.dark .container .loyalty-token {
  background: transparent;
}

/*loyalty token*/

.dark .container .retail-buy-sell__input {
  border: 1px solid #1f232e;
  background: #323943;
}

.dark .container .dual-header-dashboard-layout__notification-row {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dark .container .transfer-request-list {
  background-image: -o-linear-gradient(
    192deg,
    #1e1d2b,
    #1a1f22 44%,
    #1a1f22 54%,
    #1a1f22
  );
  background-image: linear-gradient(
    258deg,
    #1e1d2b,
    #1a1f22 44%,
    #1a1f22 54%,
    #1a1f22
  );
  border-radius: 10px;
  padding: 0;
}

.dark .container .transfer-request-list .pagination__content {
  background: transparent;
}

.dark .container .transfer-request-item {
  background: transparent;
}

.dark .container .transfer-request-list .pagination__container {
  background: transparent;
  margin-bottom: 3.7rem;
}

.dark .container .transfer-request-item__type-icon {
  border: 1px solid #707070;
  padding: 0.9rem 0.7rem;
}

.dark .container .pagination__content .ap-button__btn--subtractive {
  background: #202629 !important;
  color: #7d8895 !important;
}

.dark .container .pagination__content .ap-button__btn--subtractive:hover,
.dark .container .sub-nav-row__item:hover,
.dark
  .container
  .trade-component.order-entry
  label.ap-segmented-button__label:hover {
  background: #353d41 !important;
  color: #fff !important;
}

.dark
  .container
  .pagination__content
  .ap-button__btn--subtractive:hover:before {
  display: none;
}

.dark .container .transfer-request-item__btn {
  font-size: 14px;
  z-index: 2;
  position: relative;
}

.dark .container .transfer-request-list .pagination__page--active,
.dark .container .transfer-request-list .pagination__page--active:hover {
  background-color: #92499c !important;
  color: #fff !important;
}

.dark .container .pagination__text--disabled,
.dark .container .pagination__text--disabled:hover {
  color: rgb(135, 159, 259, 0.1) !important;
}

.dark .container .transfer-request-list .pagination__text {
  color: #8b9bb3;
}

.dark .container .transfer-request-list .pagination__page {
  background: #202629;
  border-radius: 4px;
  color: #8b9bb3;
  border: none;
  font-family: "HurmeGeometricSans3-Bold";
  margin: 0 3px;
}

.dark .container .retail-api-key-list__btn {
  border: solid 1px #1a1a26;
  background-color: #22232f;
}

.dark .container .retail-api-key-list__image {
  color: #7582ff;
}

.dark .container .ap-inline-btn__text.api-key-list {
  color: #7582ff;
}

.dark .container .retail-api-key-list .flex-table__body {
  background: transparent;
}

.dark .container .retail-api-key-list__check,
.retail-api-key-list__text-item {
  color: #fff;
  font-family: "HurmeGeometricSans3-Bold";
}

.dark .container .retail-api-key-list__icon {
  background: transparent;
}

.dark .slide-pane__body,
.dark .slide-pane__content {
  background: #1a1f22;
}

.dark .create-api-key__form-body {
  background: #1f2529;
}

.dark
  .container
  .dual-fluid-header-fixed-content-layout__fixed-container
  .market-data-cards__card
  .market-data-card {
  background-image: -o-linear-gradient(
    213deg,
    #1e1d2b,
    #1a1f22 44%,
    #1a1f22 54%,
    #1a1f22
  );
  background-image: linear-gradient(
    237deg,
    #1e1d2b,
    #1a1f22 44%,
    #1a1f22 54%,
    #1a1f22
  );
}

.dark
  .container
  .dual-fluid-header-fixed-content-layout__fixed-container
  .market-data-cards__card
  .market-data-card
  .market-data-card__row {
  border-bottom: 1px solid #202629;
}

.dark
  .container
  .dual-fluid-header-fixed-content-layout__fixed-container
  .market-data-cards__card
  .market-data-card
  .market-data-card__row
  .ap-label-with-text {
  border: none;
}

.dark .container .page-header-nav__item--selected svg {
  opacity: 0;
}

.dark
  .container
  a.page-header-nav__item--selected
  span.page-header-nav__icon.page-header-nav__icon--dashboard {
  background: url(../images/dashboard.png) no-repeat center center / cover;
}

.dark .container span.page-header-nav__icon.page-header-nav__icon--dashboard {
  width: 20px;
  height: 16px;
}

.dark
  .container
  a.page-header-nav__item--selected
  span.page-header-nav__icon.page-header-nav__icon--exchange {
  background: url(../images/exchange.png) no-repeat center center / cover;
}

.dark .container span.page-header-nav__icon.page-header-nav__icon--exchange {
  width: 16px;
  height: 14px;
}

.dark
  .container
  a.page-header-nav__item--selected
  span.page-header-nav__icon.page-header-nav__icon--buy-sell {
  background: url(../images/buy-sell.png) no-repeat center center / cover;
}

.dark .container span.page-header-nav__icon.page-header-nav__icon--buy-sell {
  width: 20px;
  height: 20px;
}

.dark
  .container
  a.page-header-nav__item--selected
  span.page-header-nav__icon.page-header-nav__icon--wallet {
  background: url(../images/wallet.png) no-repeat center center / cover;
}

.dark .container span.page-header-nav__icon.page-header-nav__icon--wallet {
  width: 20px;
  height: 18px;
}

.dark
  .container
  a.page-header-nav__item--selected
  span.page-header-nav__icon.page-header-nav__icon--settings {
  background: url(../images/settings.png) no-repeat center center / cover;
}

.dark .container span.page-header-nav__icon.page-header-nav__icon--settings {
  width: 20px;
  height: 20px;
}
/*popups */
.dark .ap-modal__overlay {
  background: rgba(0, 0, 0, 0.68);
}

.dark .ap-modal {
  background-image: -o-linear-gradient(
    214deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
  background-image: linear-gradient(
    236deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
  border-radius: 5px;
}

.dark .ap-modal__header {
  background: transparent;
  border-bottom: 1px solid #202629;
  font-size: 20px;
}

.dark .region-form__btn,
.dark .theme-form__btn,
.dark .reset-password-form__btn,
.dark .affiliate-modal__btn,
.dark .theme-confirm__btn,
.dark .retail-api-keys-modal-delete__btn,
.dark .retail-order-confirmation__modal__btn {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#e8a690),
    to(#5000a6)
  );
  background-image: -o-linear-gradient(right, #e8a690, #5000a6);
  background-image: linear-gradient(to left, #e8a690, #5000a6);
  border: none;
  border-radius: 24px;
  font-family: "HurmeGeometricSans3-Bold";
  font-size: 14px;
  position: relative;
  z-index: 1;
}

.dark .ap-button__btn--general:focus {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#e8a690),
    to(#5000a6)
  );
  background-image: -o-linear-gradient(right, #e8a690, #5000a6);
  background-image: linear-gradient(to left, #e8a690, #5000a6);
  border: none;
  font-family: "HurmeGeometricSans3-Bold";
  font-size: 14px;
  position: relative;
  z-index: 1;
  color: #fff;
}

.dark .enable-2fa-modal .ap-auto-tab-input {
  border-radius: 4px;
  border: 1px solid #1f232e;
  background: #2a3038;
}

.dark .api-key-list__row:hover .api-key-list__column:nth-child(n + 2) {
  border-left: none;
}

.dark .affiliate-modal__input,
.dark .ap-datepicker__input,
.dark .ap-input__input,
.dark .ap-select__select,
.dark .react-phone-number-input__input.ap-phone-input__input {
  border-radius: 4px;
  border: 1px solid #1f232e;
  background: #2a3038 !important;
}
/*popups */

/*signup sign in forgot pass */
.dark .signup-form__form-container,
.dark .forgot-password-form__container,
.dark .login-form__container {
  background-image: -o-linear-gradient(
    234deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
  background-image: linear-gradient(
    216deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
}

.dark .signup-form__header,
.dark .forgot-password-form__header,
.dark .login-form__header {
  background: transparent;
  border-bottom: 1px solid #202629;
}

.dark .standalone-modal__container {
  background-image: -o-linear-gradient(
    234deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
  background-image: linear-gradient(
    216deg,
    #1e1d2b,
    #1a1f22 43%,
    #1a1f22 54%,
    #1a1f22
  );
}

.dark .standalone-modal__body {
  background: transparent;
}

.dark .standalone-modal__btn {
  border-radius: 25px;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#dd9b8f),
    to(#5000a6)
  );
  background-image: -o-linear-gradient(right, #dd9b8f, #5000a6);
  background-image: linear-gradient(to left, #dd9b8f, #5000a6);
  color: #fff;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*signup sign in forgot pass */

.dark .trading-layout__body .flex-table__header--background {
  background: #12171a !important;
}

.dark .trading-layout__body .ap-label-with-text {
  border: none !important;
}

.dark .retail-trade-report__content {
  padding: 7px 0px;
}

.ReactModal__Content.ReactModal__Content--after-open.slide-pane.slide-pane_from_right.ap-sidepane__container.ap-sidepane__container--with-tabs.advanced-order-sidepane__container.advanced-order-sidepane__container--with-tabs
  .slide-pane__header {
  background: #1a1f22;
}

.ReactModal__Content.ReactModal__Content--after-open.slide-pane.slide-pane_from_right.ap-sidepane__container.ap-sidepane__container--with-tabs.advanced-order-sidepane__container.advanced-order-sidepane__container--with-tabs
  .advanced-order-sidepane__tab-container {
  background: transparent;
}

.dark .ap-button__btn--subtractive:hover,
.dark .ap-button__btn--subtractive:focus {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#e8a690),
    to(#5000a6)
  );
  background-image: -o-linear-gradient(right, #e8a690, #5000a6);
  background-image: linear-gradient(to left, #e8a690, #5000a6);
  border: none;
}

.dark .ap-datepicker__input:focus,
.dark .ap-input__input:focus,
.dark .ap-select__select:focus,
.dark .react-phone-number-input__input.ap-phone-input__input:focus {
  background: #373e47 !important;
  border: #1f232e !important;
}

.dark .ap-datepicker__input:hover,
.dark .ap-input__input:hover,
.dark .ap-select__select:hover,
.dark .react-phone-number-input__input.ap-phone-input__input:hover {
  border-color: #1a1a26;
}

.dark .ap-tab__menu {
  background-image: -o-linear-gradient(
    183deg,
    #1e1d2b,
    #202529 43%,
    #202529 54%,
    #202529
  );
  background-image: linear-gradient(
    267deg,
    #1e1d2b,
    #202529 43%,
    #202529 54%,
    #202529
  );
}

.dark .container .ap-button__btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#e8a690),
    to(#5000a6)
  );
  background-image: -o-linear-gradient(left, #e8a690, #5000a6);
  background-image: linear-gradient(to right, #e8a690, #5000a6);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.dark .container .ap-button__btn:hover:before {
  opacity: 1;
}

.dark .slide-pane__content .retail-withdraw-form__btn:before,
.dark .slide-pane__content .ap-button__btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#e8a690),
    to(#5000a6)
  );
  background-image: -o-linear-gradient(left, #e8a690, #5000a6);
  background-image: linear-gradient(to right, #e8a690, #5000a6);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.dark .slide-pane__content .retail-withdraw-form__btn:hover:before,
.dark .slide-pane__content .ap-button__btn:hover:before {
  opacity: 1;
}

.dark .region-form__btn:before,
.dark .theme-form__btn:before,
.dark .reset-password-form__btn:before,
.dark .affiliate-modal__btn:before,
.dark .theme-confirm__btn:before,
.dark .retail-api-keys-modal-delete__btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#e8a690),
    to(#5000a6)
  );
  background-image: -o-linear-gradient(left, #e8a690, #5000a6);
  background-image: linear-gradient(to right, #e8a690, #5000a6);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.dark .region-form__btn:hover:before,
.dark .theme-form__btn:hover:before,
.dark .reset-password-form__btn:hover:before,
.dark .affiliate-modal__btn:hover:before,
.dark .theme-confirm__btn:hover:before,
.dark .retail-api-keys-modal-delete__btn:hover:before {
  opacity: 1;
}

.dark .download-report__action-btn__btn {
  padding-top: 7px;
  padding-bottom: 7px;
}

.dark .download-report__action-btn__btn:hover {
  background: #373e47;
  border-color: #1f232e;
}

.dark .sidepane-details__information-text {
  font-family: "HurmeGeometricSans3-Regular";
}

.dark
  .instrument-selector-popover__popover
  .instrument-selector-popup__body
  .instrument-selector-popup__row--selected:before {
  border-left-color: #5000a6;
}

.dark .ap-button__btn--general:hover {
  color: #fff !important;
}

.dark .container .retail-api-keys-form__btn:active {
  color: #fff !important;
}

.dark .retail-api-keys-modal-delete__btn,
.dark .retail-api-keys-modal__btn,
.dark .ap-button__btn--additive:focus {
  border-radius: 24px;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#e8a690),
    to(#5000a6)
  ) !important;
  background-image: -o-linear-gradient(right, #e8a690, #5000a6) !important;
  background-image: linear-gradient(to left, #e8a690, #5000a6) !important;
  border: none;
  font-family: "HurmeGeometricSans3-SemiBold";
  font-size: 16px;
  position: relative;
  z-index: 2;
}

.dark .retail-api-keys-modal-delete__btn:before,
.dark .retail-api-keys-modal__btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#e8a690),
    to(#5000a6)
  );
  background-image: -o-linear-gradient(left, #e8a690, #5000a6);
  background-image: linear-gradient(to right, #e8a690, #5000a6);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.dark .retail-api-keys-modal-delete__btn:hover:before,
.dark .retail-api-keys-modal__btn:hover:before {
  opacity: 1;
}

.dark .wallet-row-list {
  max-height: none;
}

.dark .container .ap-segmented-button__label {
  border-radius: 50px !important;
}
